.cuerpoinicio{
	width: 800px;
	height: 800px;
	background-color: rgba(255,255,255,0.5);
	margin-top: 90px;
	float: right;
	margin-right: 50px;
}
#buscador{
	position: fixed;
	z-index: 1;
	margin-left: 200px;
	height: 60px;
	width: 90%;
	background-color: rgb(0,0,60);
	box-shadow: 0px 0px 18px 6px rgba(10,10,10,1);
}
#buscar{
	width: 40%;
	float: left;
	margin-left: 250px;
	margin-top: 10px;
	height: 40px;
	margin-right: 0px;
}
#buscar1{
	top: -20px;
	width: 39px;
	height: 40px;
	background-image: url(../imagenes/buscar.png);
	background-size: 80%;
	float: left;
	margin-left: 3px;
	border-radius: 3px;
	background-color: white;
}
#buscar:hover, #buscar:focus{
	border-style: none;
}