body{
	font-family: Century Gothic;
	background-image: url('../imagenes/fondo1.jpg');
  	background-size: cover;	
}
tr{
	background-color: white;
}
@media only screen and (min-width: 900px){
	.modificacion{
		width: 40%;
	}
	.formulario label{
		color: white;
		font-size: 10px;
	}
	.contenido{
		width: 70%;
	}
	.encabezado h1{
		font-size:40px;
	}
	.formulario label{
		color: white;
		font-size: 18px;
	}
	.grupo_formulario input[type=text], select,input[type=password],input[type=email], input[type=date], input[type=number], input[type=submit]{	
		height: 30px;
	}

	.grupo_formulario input[type=text], select,input[type=password],input[type=email], input[type=date], input[type=number], input[type=submit]{
		margin-bottom: 10px;
	}
}
@media only screen and (min-width: 700px) and (max-width: 899px){
	.modificacion{
		width: 90%;
	}
	.formulario label{
		color: white;
		font-size: 20px;
	}
	.enviar_div input[type=submit]{
		height: 50px;
		width: 100px;
		font-weight: bold;
		font-size: 35px;
	}
	.grupo_formulario input[type=text], select,input[type=password],input[type=email], input[type=date], input[type=number], input[type=submit]{
		margin-bottom: 10px;
	}
	.contenido{
		width: 70%;
	}
	.encabezado h1{
		font-size:35px;
	}
	.grupo_formulario input[type=text], select,input[type=password],input[type=email], input[type=date], input[type=number], input[type=submit]{	
		height: 40px;
	}
}
@media only screen and (max-width: 700px){
	.modificacion{
		width: 90%;
	}
	.formulario label{
		color: white;
		font-size: 15px;
	}
	.contenido{
		width: 80%;
	}
	
	.grupo_formulario input[type=text], select,input[type=password],input[type=email], input[type=date], input[type=number], input[type=submit]{
		margin-bottom: 10px;
	}
	.encabezado h1{
		font-size:30px;
	}
	.grupo_formulario input[type=text], select,input[type=password],input[type=email], input[type=date], input[type=number], input[type=submit]{	
		height: 35px;
	}
}
.modificacion{
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.5);
}
.contenido{
	margin: auto;
}
.grupo_formulario input[type=text], select,input[type=password],input[type=email], input[type=date], input[type=number], input[type=submit]{	
	border-radius: 5px;
	border-style: none;
	color: black;
}
.enviar_div{
	display: flex;
	justify-content: center;
	align-items: center;
}
.enviar_div input[type=submit]{
	color: white;
	margin: 10px;
	background-color: green;
}
.modificacion .encabezado{
	display: flex;
	justify-content: center;
	align-items: center;
	height:80px;
	background-color: rgb(209, 190, 73); 
}
.formulario form{
	width: 100%;
}
.formulario form input[type=text], select,input[type=password],input[type=email], input[type=date], input[type=number], input[type=submit]{
	width: 100%;
}
#contenedor{
	margin-top: 200px;
	width: 50%;
	height: 250px;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0,0,0,0.5);
}
#contenedor *{
	text-align: center;
	color: white;
}
#contenedor h1{
	background-color: rgb(209, 190, 73);
	height: 60px;
}
#valor1, #valor2{
  height: 30px;
  border-style: none;
  border-radius: 3px;
  font-family: Century Gothic;
  padding: 0px 5px 0px 5px;
  font-size: 15px;
  width: 20%;
  margin: 5px;
  margin-bottom: 30px;
}
#contenedor #enviar{
	border-radius: 3px;
	font-size: 1.3em;
	height: 40px;
	width: 40%;
	border-style: none;
	background-color: rgb(61, 219, 121);
}
#contenedor #enviar:hover{
	transition-property: border-radius,box-shadow, background-color;
 	transition-duration: .3s;
	border-radius: 5px;
	cursor: pointer;
	background-color: rgb(209, 190, 73);
	box-shadow: 0px 0px 63px -15px rgba(0,0,0,0.75);
}
#contenedor form select{
	height: 30px;
	width: 20%;
	border-style: none;
	border-radius: 3px;
	color: black;
}
table{
	width: 50%;
	border-color: rgb(61, 219, 121);
}
table th{
	height: 30px;
}
table caption{
	background-color: rgb(209, 190, 73);
	height: 40px;
	font-size: 1.5em;
}
